h2 {
	font-family: 'Graduate', cursive;
	letter-spacing: -1px;
	font-size: 55px;
	font-weight: bold;
	text-align: center;
	margin: 2px 2px 30px;
	color: #FF9900;
	margin-left: 10px;
}

.back_login {
	position: absolute;
	right: 380px;
	bottom: 330px;
	color: #0099FF;
	font-family: 'Roboto', sans-serif;
}

.back_login:hover,
.back_login:active,
.back_login:focus {
    color: #F0F0F0;
}